@font-face {
  font-family: "WooridaumB";
  src: url("./WooridaumB.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WooridaumL";
  src: url("./WooridaumL.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
